asgiref==3.4.1
Django==3.2.13
django-cors-headers==3.10.1
django-jazzmin==2.5.0
django-rest-framework==0.1.0
django-suit==2.0a1
djangorestframework==3.13.1
Jinja2==3.0.3
MarkupSafe==2.0.1
psycopg2==2.9.3
pytz==2022.1
sqlparse==0.4.2
typing-extensions==4.1.1
